/* Podium */
.podium-list {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  border-bottom: 1px solid #ddd;
  min-height: 20rem;
}

.podium {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 5rem;
  height: 20rem;
}

.podium .bar {
  background-color: aquamarine;
}

.podium_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.podium_user .podium_avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.podium_user .podium_name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 150px;
  margin: 0.2rem 0;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 700px) {
  .podium  {
    width: 2rem;
  }

  .podium_user .podium_avatar {
    width: 35px;
    height: 35px;
  }

  .podium_user .podium_name {
    font-size: 0.9rem;
    max-width: 77px;
  }
}


/* Ranking */
.ranking_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
